/* Color scheme: Solarized Light */
.Base03 { -fx-background-color: #002b36; }
.Base02 { -fx-background-color: #073642; }
.Base01 { -fx-background-color: #586e75; }
.Base00 { -fx-background-color: #657b83; }
.Base0 { -fx-background-color: #839496; }
.Base1 { -fx-background-color: #93a1a1; }
.Base2 { -fx-background-color: #eee8d5; }
.Base3, #wrapper { -fx-background-color: #fdf6e3; }
.Yellow { -fx-background-color: #b58900; }
.Orange { -fx-background-color: #cb4b16; }
.Red { -fx-background-color: #dc322f; }
.Magenta { -fx-background-color: #d33682; }
.Violet { -fx-background-color: #6c71c4; }
.Blue { -fx-background-color: #268bd2; }
.Cyan { -fx-background-color: #2aa198; }
.Green { -fx-background-color: #859900; }

/* Wrapper de la fenêtre */
#wrapper {
    -fx-font-size: 10px;
    -fx-text-fill: #586e75;
}

/* TableView */
.table-view .column-header-background {
    -fx-background-color: #859900;
    -fx-background-radius: 5 5 0 0;
}
.table-view, .table-view .column-header {
    -fx-background-color: transparent;
}
.table-view .table-cell {
    -fx-text-fill: #586e75;
}
.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: #fdf6e3;
}

/*
    Scrollbars des TableViews
    sources:
    https://blog.ngopal.com.np/2012/07/11/customize-scrollbar-via-css/
    http://www.guigarage.com/2015/11/styling-a-javafx-scrollbar/
 */
.table-view .scroll-bar:horizontal {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}
.table-row-cell {
    -fx-background-color: #fdf6e3;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
    -fx-table-cell-border-color:transparent;
    -fx-padding: 0 0 0 8;
}
.table-row-cell:odd {
    -fx-background-color: #eee8d5;
    -fx-background-insets: 0;
}
.table-row-cell:selected {
    -fx-text-fill: #fdf6e3 !important;
    -fx-background-color: #2aa198, #93a1a1;
    -fx-background-insets: 0, 0 0 0 5;
    -fx-background-radius: 0;
}
.table-view .scroll-bar:horizontal .track, .table-view .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}
/* The increment and decrement button CSS class of scrollbar */
.table-view .scroll-bar:vertical .increment-button , .table-view .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 7 0 0;
}
.table-view .scroll-bar .increment-arrow, .table-view .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 2 0 0 0;
}
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: #586e75;
    -fx-background-insets: 1;
    -fx-background-radius: 2em;
}
.table-view .scroll-bar:vertical {
    -fx-background-color: transparent;
}

/* TextFields */
.text-field {
    -fx-background-color: #d33682, #fdf6e3;
    -fx-background-insets: 0, 0 0 2 0 ;
    -fx-background-radius: 0;
}

/* Boutons */
.button {
    -fx-text-fill: #fdf6e3;
    -fx-background-color: #2aa198;
}
.button:hover { -fx-effect: dropshadow(three-pass-box, #586e75, 3, 0, 0, 0); }
.cancel, .del { fx-text-fill: #fdf6e3; }
.cancel { -fx-background-color: #657b83; }
.del { -fx-background-color: #cb4b16; }

/* Labels */
.txt { -fx-fill: #586e75 }
.label { -fx-text-fill: #586e75 }
.title { -fx-font-size: 18px; }
.title-1 { -fx-font-size: 12px; }
.title, .title-1, .title-2 { -fx-font-weight: bold; }
.header {
    -fx-background-color: #eee8d5;
    -fx-background-radius: 5 ;
}

/*
    ComboBox
    Source: https://stackoverflow.com/questions/19343531/javafx-combobox-styling
*/
.combo-box .list-cell {
    -fx-background: #eee8d5;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
}

.combo-box-popup .list-view {
    -fx-background-color: #eee8d5, #cb4b16;
    -fx-background-radius: 0;
    -fx-effect: dropshadow(three-pass-box , #586e75, 2, 0.0, 0, 0);
}

.combo-box-popup .list-view .list-cell {
    -fx-padding: 4 0 4 5;
    /* No alternate highlighting */
    -fx-background-color: #eee8d5;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: #eee8d5;
    -fx-text-fill: -fx-text-inner-color;
}

.combo-box-base {
    -fx-background-color: #d33682, #fdf6e3;
    -fx-background-insets: 0, 0 0 2 0 ;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.combo-box-base:hover { -fx-color: -fx-hover-base; }
.combo-box-base:showing { -fx-color: -fx-pressed-base; }
.combo-box-base:disabled { -fx-opacity: .4; }

